- provide(:title, 'About')
- currently_at 'About'

.row
.col-md-3
.col-md-6
  .startpage

    %h3 Canvas Collaborator
    .top
      This is a simple application that helps you to create and discuss your business
      model with your team, using the 'business model canvas' known from the book
      'business model generation'.

    %h3 Nils Löwe
    .top.bottom
      Über Nils

.col-md-3
