- provide(:title, 'Help')
- currently_at 'Help'

.row
.col-md-3
.col-md-6
  .startpage

    %h3 What is the canvas?
    .top
      The introduction to the businessmodel canvas


    %h3 How do I use the tool?
    .top.bottom
      Introduction to the tool

.col-md-3
