.panel.panel-default
  .panel-heading
    %b= link_to field.title, field
    %br
    .badge
      - if field.comments.count > 0
        = link_to field.comments.count.to_s + ' comments', comments_path(:fieldid => field.id)
      - else
        no comments
    = link_to 'New postit', new_postit_path(@new_postit, :field => field.id), :title => "New", :class => "badge"
= render field.postits
