.panel.panel-default
  .panel-heading
    %b= link_to field.title, field
    %br
    .badge
      - if field.comments.count > 0
        = field.comments.count.to_s + ' comments'
      - else
        no comments
= render field.postits
