.row
  .col-md-2
    Key Partners
  .col-md-2
    .row
      .col-xs-12
        Key Activities
    .row
      .col-xs-12
        Key Resources
  .col-md-2
    Value Propositions
  .col-md-2
    .row
      .col-xs-12
        Customer Relationships
    .row
      .col-xs-12
        Channels
  .col-md-2
    Customer Segments
  .col-md-2
    Kommentare
.row
  .col-md-5
    Cost Structure
  .col-md-5
    Renvenue Streams
